{# AGG configuration #}

{% if item.value.state == "absent" %}
delete interfaces ethernet {{ item.value.uplink }}
{%  for interface in item.value.access %}
delete interfaces ethernet {{ interface }}
{%  endfor %}
delete interfaces bridge br{{ item.key }}
{% endif %}

{% if item.value.state == "present" %}
{#  UPLINK #}
{%  set interface = item.value.uplink.split('.') %}
{%  if interface | length == 3 %}
set interfaces ethernet {{ interface[0] }} vif-s {{ interface[1] }} vif-c {{ interface[2] }}
{%  elif interface | length == 2 %}
set interfaces ethernet {{ interface[0] }} vif-s {{ interface[1] }}
{%  elif interface | length == 1 %}
set interfaces ethernet {{ interface[0] }}
{%  endif %}
set interfaces bridge br{{ item.key }} member interface {{ item.value.uplink }}

{#  ACCESS #}
{%  for interface in item.value.access %}
{%   set interface_split = interface.split('.') %}
{%   if interface_split | length == 3 %}
set interfaces ethernet {{ interface_split[0] }} vif-s {{ interface_split[1] }} vif-c {{ interface_split[2] }}
{%   elif interface_split | length == 2 %}
set interfaces ethernet {{ interface_split[0] }} vif-s {{ interface_split[1] }}
{%   elif interface_split | length == 1 %}
set interfaces ethernet {{ interface_split[0] }}
{%   endif %}
set interfaces bridge br{{ item.key }} member interface {{ interface }}
{%  endfor %}


{% endif %}
