{# router interface #}
configure router Base interface "{{ item.key }}" address {{ item.value.ipv4 }}
configure router Base interface "{{ item.key }}" port {{ item.value.interface }}:{{ item.value.vlan | default("0") }}.{{ item.value.qinq | default("*") }}
